<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ruspan Classic Movies</title>
</head>

<body>
    <h1>The Best Movies According to Ruspan</h1>
    <h2>My top 3 best movies of all time</h2>
    <hr>
    <ol>
        <li><h3>Home Alone</h3><img src="https://i.ebayimg.com/images/g/ZQ4AAOSwgYBg~amq/s-l1200.jpg" height="200px" alt="home alone movie">
        </li>
        <li><h3>Mr. Seuss The Lorax</h3><img src="https://i.ebayimg.com/images/g/ZQ4AAOSwgYBg~amq/s-l1200.jpg" height="200px" alt="home alone movie">
        </li>
        <li><h3>Charlie and The Chocolate Factory</h3><img src="https://i.ebayimg.com/images/g/ZQ4AAOSwgYBg~amq/s-l1200.jpg" height="200px" alt="home alone movie">
        </li>
    </ol>
</body>
</html>